.redbox{
  background-color:#f9989f;
  border-style: solid;
  border-color: red;
  text-align:center;
  font-weight:bold;

  display: inline-block
}

.yellowbox{
  background-color:#fffcab;
  border-style: solid;
  border-color: yellow;
  text-align:center;
  font-weight:bold;
  display: inline-block
}

.greenbox{
  background-color:#a4f6a5;
  border-style: solid;
  border-color: green;
  text-align:center;
  font-weight:bold;
  display: inline-block
}

div{
  width: 100px;
  border-left-width: 10px;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-right-width: 10px;
  padding: 10px;
  margin: 10px;
}
